{% extends 'app/pages/blog/template.html.twig' %}

{% set page_title %}Un escapade à l'île Baléares Minorque en 5 jours{% endset %}

{% block meta_description %}Découvrez notre road trip de 5 jours à Minorque : criques sublimes, couchers de soleil inoubliables, village blanc et photos au cœur de paysages méditerranéens.{% endblock %}
{% block meta_keywords %}vacances Minorque 2025, que faire à Minorque, criques Minorque, road trip Minorque, coucher de soleil Minorque, cala Macarelleta, Binibeca, phare Punta Nati, plage Cala Turqueta, village blanc Minorque, itinéraire 5 jours Minorque, photographe à Minorque, voyage photo Baléares, visiter Ciutadella, meilleur sunset Minorque, Mont Toro Minorque, bar phare Artrutx{% endblock %}

{% block main_content_in %}
    <div class="w-full min-h-56">
        <div class="relative bg-gray-900 rounded-2xl pt-24 pb-12 sm:pt-36 sm:pb-24 overflow-hidden min-h-56">
            <div class="absolute top-0 left-0 rounded-2xl w-full h-full">
                <img src="{{ asset('blog/articles/2025/minorque/cover-minorque.jpg') }}" alt="background image" class="opacity-50 object-cover w-full h-full pointer-events-none">
            </div>
            <div class="relative px-4 lg:px-8">
                <div class="text-yellow-500 font-semibold text-lg md:text-center">31 mars au 5 avril 2025</div>
                <h1 class="text-white font-bold text-4xl md:text-6xl md:text-center">Escapade à l'île Baléares Minorque en 5 jours</h1>
                <div class="flex items-end justify-end">
                    <p class="mt-16 text-gray-300 text-right max-w-screen-md">
                        J’ai embarqué pour Minorque sans trop savoir à quoi m’attendre. Ce que j’y ai trouvé ? Une île
                        lumineuse, pleine de contrastes, de criques aux eaux turquoise, de couchers de soleil inoubliables
                        et de moments simples partagés face à la beauté des paysages.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section class="mt-10 flex flex-col gap-8 w-full max-w-screen-lg mx-auto px-2 lg:px-8">
        {% include "app/pages/blog/components/author.html.twig" %}
        <article class="flex flex-col gap-12">
            <div class="flex flex-col gap-6">
                <h2 class="font-display text-4xl font-bold mb-6">Minorque au printemps : couchers de soleil, criques paradisiaques et souvenirs</h2>
                <p>
                    Du 31 mars au 5 avril 2025, j’ai eu la chance de découvrir Minorque, cette perle des Baléares encore
                    préservée. Entre criques turquoise, villages pleins de charme, apéros au coucher du soleil et une
                    météo parfois capricieuse, ces quelques jours ont été un vrai bol d’air méditerranéen.
                </p>
            </div>
            <div class="flex flex-col gap-6">
                <div>
                    <h2 class="font-display text-4xl font-bold mb-6">Jour 1 – Atterrissage, Ciutadella et premier sunset magique</h2>
                    <p class="mt-4">
                        Dès l’arrivée, on récupère la voiture de location (indispensable sur l’île) et on file vers Ciutadella.
                        Des ruelles pavées, façades colorées et une ambiance tranquille. On s’installe à
                        une terrasse pour manger, puis petite visite du jardin du palais botanique. C’est paisible,
                        photogénique et parfait pour se mettre dans le bain.
                    </p>
                </div>
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-2 md:flex-row md:gap-1">
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/marche.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/1250', iso: 125, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/bateau.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/1250', iso: 125, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/symetrie.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 4, speed: '1/1000', iso: 125 } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/ruelle.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/1250', iso: 125, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 md:flex-row md:gap-1">
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/puit.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/1250', iso: 125, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/croix.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 1.8, speed: '1/3200', iso: 125 } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/cadre.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 4, speed: '1/1000', iso: 125 } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/banc.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 1.8, speed: '1/3200', iso: 125 } %}
                        </div>
                    </div>
                </div>
                <div>
                    <p class="mt-4">
                        L’après-midi, on prend possession de notre logement à Son Xoriguer. Juste le temps de poser les
                        valises et de repartir direction <b>Cala en Brut</b>, spot parfait pour des photos.
                        Puis, cap sur le Pont d’en Gil pour le coucher du soleil. Le ciel s’enflamme, la
                        lumière est folle. On sort les appareils et c’est séance photo. Un premier soir
                        qui donne le ton du séjour !
                    </p>
                </div>
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-2 md:flex-row md:gap-1">
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/mer.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 4, speed: '1/1000', iso: 125 } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/bois.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 2.8, speed: '1/1250', iso: 125 } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/jetee.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 2.8, speed: '1/1250', iso: 125 } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/dos-bois.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/400', iso: 125, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 md:flex-row md:gap-1">
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/fleurs.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 5.6, speed: '1/200', iso: 100 } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/deux-dos.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 2.8, speed: '1/640', iso: 64 } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/pont.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 11, speed: '1/160', iso: 200 } %}
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 md:flex-row md:gap-1">
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/sunset-dos-1.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/200', iso: 1000, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/sunset-dos-2.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, focal: 85, apeture: 5, speed: '1/500', iso: 640 } %}
                        </div>
                    </div>
                    <div>
                        <img src="{{ asset('blog/articles/2025/minorque/marcher-sunset.jpg') }}" alt="marche" class="pointer-events-none">
                        {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/200', iso: 640, boitier: 'Sony A7 III & Minolta' } %}
                    </div>
                    <div class="flex flex-col gap-2 md:flex-row md:gap-1">
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/pensive.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 8, speed: '1/200', iso: 200 } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/sunset-femme.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/125', iso: 640, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-6">
                <div>
                    <h2 class="font-display text-4xl font-bold mb-6">Jour 2 – Les plus belles calanques de l’île et sunset au phare</h2>
                    <p class="mt-4">
                        Objectif du jour : en prendre plein les yeux. Et clairement, Minorque ne nous a pas déçus. On
                        commence par la plage de <b>Son Saura</b>, belle et sauvage, avant d’enchaîner avec <b>Cala Talaier</b>,
                        <b>Cala Turqueta</b> et enfin <b>Cala Macarelleta</b>.
                        Cette dernière est un vrai bijou : eau turquoise, sable blanc, végétation luxuriante… La lumière de
                        l’après-midi est idéale pour faire quelques clichés dignes d’une carte postale.
                    </p>
                </div>
                <div class="flex flex-col gap-4">
                    <div>
                        <img src="{{ asset('blog/articles/2025/minorque/grain.jpg') }}" alt="marche" class="pointer-events-none">
                        {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/1600', iso: 500, boitier: 'Sony A7 III & Minolta' } %}
                    </div>
                    <div class="flex flex-col gap-2 md:flex-row md:gap-1">
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/cala.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/400', iso: 800, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/arbre.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/400', iso: 800, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/plage.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/400', iso: 800, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                    </div>
                    <div>
                        <img src="{{ asset('blog/articles/2025/minorque/plage-dos.jpg') }}" alt="marche" class="pointer-events-none">
                        {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/400', iso: 100, boitier: 'Sony A7 III & Minolta' } %}
                    </div>
                </div>
                <div>
                    <p class="mt-4">
                        Le soir, on termine en beauté avec un sunset incroyable au phare de <b>Punta Nati</b>. Les falaises,
                        le vent, l’horizon à perte de vue… L’endroit est brut, puissant, photogénique à souhait.
                        On reste là, silencieux, à regarder le soleil tomber.
                    </p>
                </div>
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-2 md:flex-row md:gap-1">
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/hommes.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/640', iso: 400, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/femme.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/200', iso: 200, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/silhouette.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 5.6, speed: '1/800', iso: 125 } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/sunset.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/400', iso: 80, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 md:flex-row md:gap-1">
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/sunset-1.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 5.6, speed: '1/320', iso: 50 } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/sunset-2.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 5, speed: '1/320', iso: 100 } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/sunset-3.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 5.6, speed: '1/320', iso: 125 } %}
                        </div>
                    </div>
                    <div>
                        <img src="{{ asset('blog/articles/2025/minorque/falaise.jpg') }}" alt="marche" class="pointer-events-none">
                        {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 5.6, speed: '1/800', iso: 500 } %}
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-6">
                <div>
                    <h2 class="font-display text-4xl font-bold mb-6">Jour 3 – Village blanc, marché local et sunset en terrasse</h2>
                    <p class="mt-4">
                        Changement d’ambiance avec la visite de <b>Binibeca</b>, le célèbre village blanc de Minorque.
                        Ruelles toutes blanches, volets bleus, coins d’ombre parfaits pour faire des portraits doux
                        et contrastés. Après avoir shooté sous tous les angles, direction Mahon pour un bon repas et
                        un moment chill au <b>Mercat de Peix</b>.
                    </p>
                </div>
                <div class="flex flex-col gap-4">
                    <div>
                        <img src="{{ asset('blog/articles/2025/minorque/pano-dos.jpg') }}" alt="marche" class="pointer-events-none">
                        {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/800', iso: 200, boitier: 'Sony A7 III & Minolta' } %}
                    </div>
                    <div class="flex flex-col gap-2 md:flex-row md:gap-1">
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/balade.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/1250', iso: 200, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/porte.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/2000', iso: 320, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/escalier.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/2000', iso: 320, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/terasse.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/640', iso: 500, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                    </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/pano.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/320', iso: 1000, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                </div>
                <div>
                    <p class="mt-4">
                        Dans l’après-midi, montée au <b>Mont Toro</b>, le point culminant de l’île. La vue est dégagée et offre
                        un panorama à 360° assez impressionnant. Puis, dernière escale au bar du phare d’<b>Artrutx</b> pour
                        un coucher de soleil plus posé : tapas, boissons fraîches et ambiance détendue avec vue sur
                        la mer. Un vrai moment de plaisir simple.
                    </p>
                </div>
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-2 md:flex-row md:gap-1">
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/vue.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/320', iso: 320, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/vue-plage.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/320', iso: 320, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 md:flex-row md:gap-1">
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/assis.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/640', iso: 400, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/drink.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/320', iso: 160, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/cocktail.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/160', iso: 800, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-6">
                <div>
                    <h2 class="font-display text-4xl font-bold mb-6">Jour 4 – Vent, restau et tentative de sunset avortée</h2>
                    <p class="mt-4">
                        Le vent s’invite sérieusement. On décide de ralentir le rythme et de se faire plaisir à midi dans
                        un super resto à Ciutadella : <b>Moriarty</b>. Bonne cuisine, ambiance cosy, parfait pour se poser.
                        On tente quand même une virée vers les plages du nord, mais honnêtement… pas de grand intérêt ce jour-là.
                    </p>
                </div>
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-2 md:flex-row md:gap-1">
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/rouge.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/640', iso: 160, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/porte-4.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/640', iso: 160, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/porte-7.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/640', iso: 160, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                    </div>
                </div>
                <div>
                    <p class="mt-4">
                        Petite visite de <b>Fornells</b>, village sympa mais vite balayé par le vent. Et malgré notre optimisme,
                        le sunset au <b>Far de Cavalleria</b> est complètement bouché par les nuages. Dommage, mais ça fait partie du jeu !
                    </p>
                </div>
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-2 md:flex-row md:gap-1">
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/nuage-1.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 5.6, speed: '1/800', iso: 160 } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/nuage-2.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/320', iso: 1000, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/sunset-nuage.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { apeture: 1.8, speed: '1/200', iso: 40, boitier: 'Galaxy S24+' } %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-6">
                <div>
                    <h2 class="font-display text-4xl font-bold mb-6">Jour 5 – Vent encore, mais final en beauté</h2>
                    <p class="mt-4">
                        Toujours du vent, mais on ne se laisse pas abattre. On file vers <b>Cala Mitjana</b>, très belle même sans
                        baignade possible.
                    </p>
                </div>
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-2 md:flex-row md:gap-1">
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/femme-dos.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/2500', iso: 64, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/femme-pano.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/1250', iso: 160, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                    </div>
                    <div class="flex flex-col gap-2 md:flex-row md:gap-1">
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/cala-vent.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/1600', iso: 125, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/chevaux.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 58, speed: '1/1250', iso: 160, boitier: 'Sony A7 III & Minolta' } %}
                        </div>
                    </div>
                </div>
                <div>
                    <p class="mt-4">
                        Puis on décide de profiter à fond du dernier sunset au <b>Castell de Sant Nicolau</b> : belle
                        lumière dorée, ambiance calme, et un moment parfait pour immortaliser ces derniers instants sur l’île.
                        <br>
                        On termine par un dîner au Franola, une belle surprise gastronomique pour clore ce séjour en douceur.
                    </p>
                </div>
                <div class="flex flex-col gap-4">
                    <div class="flex flex-col gap-2 md:flex-row md:gap-1">
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/fleur-sunset.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 16, speed: '1/160', iso: 400 } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/deux-femmes.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 10, speed: '1/500', iso: 320 } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/sunset-far.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 5.6, speed: '1/800', iso: 250 } %}
                        </div>
                    </div>
                    <div>
                        <img src="{{ asset('blog/articles/2025/minorque/pano-sunset.jpg') }}" alt="marche" class="pointer-events-none">
                        {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 7.1, speed: '1/250', iso: 400 } %}
                    </div>
                    <div>
                        <img src="{{ asset('blog/articles/2025/minorque/rock.jpg') }}" alt="marche" class="pointer-events-none">
                        {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 8, speed: '1/500', iso: 400 } %}
                    </div>
                    <div>
                        <img src="{{ asset('blog/articles/2025/minorque/evade.jpg') }}" alt="marche" class="pointer-events-none">
                        {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 5, speed: '1/500', iso: 250 } %}
                    </div>
                    <div class="flex flex-col gap-2 md:flex-row md:gap-1">
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/debout.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 5, speed: '1/500', iso: 250 } %}
                        </div>
                        <div>
                            <img src="{{ asset('blog/articles/2025/minorque/ciel.jpg') }}" alt="marche" class="pointer-events-none">
                            {% include "app/pages/blog/components/photo-commentary.html.twig" with { focal: 85, apeture: 5.6, speed: '1/500', iso: 250 } %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-6">
                <div>
                    <h2 class="font-display text-4xl font-bold mb-6">Conclusion</h2>
                    <p class="mt-4">
                        Cette escapade à Minorque a été riche en paysages, en couchers de soleil inoubliables.
                        En tant que photographe, j’ai été servi : lumières magnifiques, décors variés, et deux modèles
                        toujours partantes des séances photos. Minorque est un vrai terrain de jeu pour les amoureux de
                        nature, de photo et de belles ambiances.
                    </p>
                </div>
            </div>
            {% include "app/pages/blog/components/social_media.html.twig" %}

            <div class="instagram-post grid grid-cols-4 gap-4">
                <blockquote class="instagram-media" data-instgrm-permalink="https://www.instagram.com/reel/DIMaLjCixVt/?utm_source=ig_embed&amp;utm_campaign=loading" data-instgrm-version="14" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:540px; min-width:326px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:16px;"> <a href="https://www.instagram.com/reel/DIMaLjCixVt/?utm_source=ig_embed&amp;utm_campaign=loading" style=" background:#FFFFFF; line-height:0; padding:0 0; text-align:center; text-decoration:none; width:100%;" target="_blank"> <div style=" display: flex; flex-direction: row; align-items: center;"> <div style="background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 40px; margin-right: 14px; width: 40px;"></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 100px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 60px;"></div></div></div><div style="padding: 19% 0;"></div> <div style="display:block; height:50px; margin:0 auto 12px; width:50px;"><svg width="50px" height="50px" viewBox="0 0 60 60" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g transform="translate(-511.000000, -20.000000)" fill="#000000"><g><path d="M556.869,30.41 C554.814,30.41 553.148,32.076 553.148,34.131 C553.148,36.186 554.814,37.852 556.869,37.852 C558.924,37.852 560.59,36.186 560.59,34.131 C560.59,32.076 558.924,30.41 556.869,30.41 M541,60.657 C535.114,60.657 530.342,55.887 530.342,50 C530.342,44.114 535.114,39.342 541,39.342 C546.887,39.342 551.658,44.114 551.658,50 C551.658,55.887 546.887,60.657 541,60.657 M541,33.886 C532.1,33.886 524.886,41.1 524.886,50 C524.886,58.899 532.1,66.113 541,66.113 C549.9,66.113 557.115,58.899 557.115,50 C557.115,41.1 549.9,33.886 541,33.886 M565.378,62.101 C565.244,65.022 564.756,66.606 564.346,67.663 C563.803,69.06 563.154,70.057 562.106,71.106 C561.058,72.155 560.06,72.803 558.662,73.347 C557.607,73.757 556.021,74.244 553.102,74.378 C549.944,74.521 548.997,74.552 541,74.552 C533.003,74.552 532.056,74.521 528.898,74.378 C525.979,74.244 524.393,73.757 523.338,73.347 C521.94,72.803 520.942,72.155 519.894,71.106 C518.846,70.057 518.197,69.06 517.654,67.663 C517.244,66.606 516.755,65.022 516.623,62.101 C516.479,58.943 516.448,57.996 516.448,50 C516.448,42.003 516.479,41.056 516.623,37.899 C516.755,34.978 517.244,33.391 517.654,32.338 C518.197,30.938 518.846,29.942 519.894,28.894 C520.942,27.846 521.94,27.196 523.338,26.654 C524.393,26.244 525.979,25.756 528.898,25.623 C532.057,25.479 533.004,25.448 541,25.448 C548.997,25.448 549.943,25.479 553.102,25.623 C556.021,25.756 557.607,26.244 558.662,26.654 C560.06,27.196 561.058,27.846 562.106,28.894 C563.154,29.942 563.803,30.938 564.346,32.338 C564.756,33.391 565.244,34.978 565.378,37.899 C565.522,41.056 565.552,42.003 565.552,50 C565.552,57.996 565.522,58.943 565.378,62.101 M570.82,37.631 C570.674,34.438 570.167,32.258 569.425,30.349 C568.659,28.377 567.633,26.702 565.965,25.035 C564.297,23.368 562.623,22.342 560.652,21.575 C558.743,20.834 556.562,20.326 553.369,20.18 C550.169,20.033 549.148,20 541,20 C532.853,20 531.831,20.033 528.631,20.18 C525.438,20.326 523.257,20.834 521.349,21.575 C519.376,22.342 517.703,23.368 516.035,25.035 C514.368,26.702 513.342,28.377 512.574,30.349 C511.834,32.258 511.326,34.438 511.181,37.631 C511.035,40.831 511,41.851 511,50 C511,58.147 511.035,59.17 511.181,62.369 C511.326,65.562 511.834,67.743 512.574,69.651 C513.342,71.625 514.368,73.296 516.035,74.965 C517.703,76.634 519.376,77.658 521.349,78.425 C523.257,79.167 525.438,79.673 528.631,79.82 C531.831,79.965 532.853,80.001 541,80.001 C549.148,80.001 550.169,79.965 553.369,79.82 C556.562,79.673 558.743,79.167 560.652,78.425 C562.623,77.658 564.297,76.634 565.965,74.965 C567.633,73.296 568.659,71.625 569.425,69.651 C570.167,67.743 570.674,65.562 570.82,62.369 C570.966,59.17 571,58.147 571,50 C571,41.851 570.966,40.831 570.82,37.631"></path></g></g></g></svg></div><div style="padding-top: 8px;"> <div style=" color:#3897f0; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:550; line-height:18px;">Voir cette publication sur Instagram</div></div><div style="padding: 12.5% 0;"></div> <div style="display: flex; flex-direction: row; margin-bottom: 14px; align-items: center;"><div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(0px) translateY(7px);"></div> <div style="background-color: #F4F4F4; height: 12.5px; transform: rotate(-45deg) translateX(3px) translateY(1px); width: 12.5px; flex-grow: 0; margin-right: 14px; margin-left: 2px;"></div> <div style="background-color: #F4F4F4; border-radius: 50%; height: 12.5px; width: 12.5px; transform: translateX(9px) translateY(-18px);"></div></div><div style="margin-left: 8px;"> <div style=" background-color: #F4F4F4; border-radius: 50%; flex-grow: 0; height: 20px; width: 20px;"></div> <div style=" width: 0; height: 0; border-top: 2px solid transparent; border-left: 6px solid #f4f4f4; border-bottom: 2px solid transparent; transform: translateX(16px) translateY(-4px) rotate(30deg)"></div></div><div style="margin-left: auto;"> <div style=" width: 0px; border-top: 8px solid #F4F4F4; border-right: 8px solid transparent; transform: translateY(16px);"></div> <div style=" background-color: #F4F4F4; flex-grow: 0; height: 12px; width: 16px; transform: translateY(-4px);"></div> <div style=" width: 0; height: 0; border-top: 8px solid #F4F4F4; border-left: 8px solid transparent; transform: translateY(-4px) translateX(8px);"></div></div></div> <div style="display: flex; flex-direction: column; flex-grow: 1; justify-content: center; margin-bottom: 24px;"> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; margin-bottom: 6px; width: 224px;"></div> <div style=" background-color: #F4F4F4; border-radius: 4px; flex-grow: 0; height: 14px; width: 144px;"></div></div></a><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/reel/DIMaLjCixVt/?utm_source=ig_embed&amp;utm_campaign=loading" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">Une publication partagée par Shanbo (@shanbo_daltonien)</a></p></div></blockquote>
                <script async src="//www.instagram.com/embed.js"></script>
            </div>
        </article>
    </section>
{% endblock %}
