{% extends 'admin/pages/gallery/template.html.twig' %}

{% set page_title %}Galeries{% endset %}
{% set page_subtitle %}Accédez aux galeries des utilisateurs.{% endset %}

{% block main_content %}
    <div class="flex flex-wrap gap-4">
        {% for elem in albums %}
            <div>

                <div class="cursor-pointer block p-4 bg-white rounded-md w-96 border group hover:border-gray-300 max-w-[280px]"
                     onclick="window.location.href = '{{ app.request.schemeAndHttpHost ~ path('admin_galleries_read', {id: elem.id}) }}'"
                >
                    <div class="font-semibold text-center">{{ elem.title }}</div>
                    <div class="text-sm text-center">{{ elem.nbDownload }} téléchargement{{ elem.nbDownload > 1 ? "s" : "" }}</div>
                    {% if elem.cover %}
                        <div class="relative mt-4 rounded w-full h-56 overflow-hidden">
                            <img src="{{ path('intern_api_user_gallery_albums_read_cover', {id: elem.id}) }}"
                                 alt="photo couverture de {{ elem.title }}"
                                 class="w-full h-full object-cover group-hover:scale-105 transition-transform"
                            >
                            <div class="absolute bottom-0 right-0 text-gray-600 text-xs bg-white pt-2 pb-1 px-4 rounded-tl">
                                {{ elem.dateAt | date('d/m/Y') }}
                            </div>
                        </div>
                    {% else %}
                        <div class="text-gray-600 text-xs text-center">
                            {{ elem.dateAt | date('d/m/Y') }}
                        </div>
                        <div class="mt-4 font-semibold text-lg text-center">
                            {{ elem.nbDownload }} téléchargement{{ elem.nbDownload > 1 ? "s" : "" }}
                        </div>
                    {% endif %}
                </div>

                <div class="mt-2 px-2 flex gap-2 justify-between">
                    <div class="flex gap-2 justify-end">
                        <a href="{{ path('admin_galleries_update', {id: elem.id}) }}"
                           class="text-sm underline cursor-pointer hover:text-gray-700">
                            Modifier
                        </a>
                        <div class="delete-album"
                             data-id="{{ elem.id }}"
                             data-title="{{ elem.title }}"
                        >
                            <div class="text-sm underline cursor-not-allowed hover:text-gray-700">Supprimer</div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
