{% extends 'admin/pages/gallery/template.html.twig' %}

{% set page_title %}Galerie de {{ album.title }}{% endset %}
{% set page_subtitle %}{{ album.title }} au {{ album.dateAt | date("d/m/Y") }}.{% endset %}

{% set page_actions %}
    {% include 'layout/components/tailwind/buttons/button.html.twig' with {
        btn_link: path('admin_galleries_index'),
        btn_type: 'default',
        btn_icon: 'left-arrow',
        btn_text: 'Retourner à la liste'
    } %}
{% endset %}

{% block main_content %}
    <div id="gallery_index"
         data-is-admin="1"
         data-album-name="{{ album.title }}"
         data-album-date="{{ album.dateAt | date('d/m/Y') }}"
         data-album-id="{{ album.id }}"
         data-sort-by="{{ app.request.query.get('sortBy') ? app.request.query.get('sortBy') : "dl" }}"
    >
        {% include "layout/components/tailwind/loaders/loader.html.twig" %}
    </div>
{% endblock %}
