{% extends 'themes/default/super/pages/styleguide/template.html.twig' %}

{% block title %}Styleguide {{ parent() }}{% endblock %}

{% block main_content %}
    <h1>Styleguide</h1>

    <div class="toolbar"></div>
    
    <div class="styleguide-liste" id="styleguide-liste-cards">
        {# ----------------------- CARDS ------------------------ #}
        <h2>Cards</h2>
        <div class="cards-container">
            <div class="cards-items">
                {# ----------------------- ---------- ------------------------ #}
                {# ----------------------- CARD - [1] ------------------------ #}
                {# ----------------------- ---------- ------------------------ #}
                <div class="card-1">
                    <div class="card-1-drawing">
                        <div class="image">
                            <img src="{{ asset(path_images ~ "drawing.jpg") }}" alt="illustration">
                        </div>
                    </div>
                    <div class="card-1-header">
                        <div class="title">Title</div>
                    </div>
                    <div class="card-1-body">
                        <p>
                            People believe that carrying one of its discarded fangs will prevent mishaps 
                            at sea, so the fangs are made into accessories.
                        </p>
                    </div>
                    <div class="card-1-footer">
                        <div class="items">
                            <div class="item">
                                <img src="{{ asset("uploads/avatar/avatar-0.jpg") }}" alt="avatar-0">
                            </div>
                            <div class="item">
                                <img src="{{ asset("uploads/avatar/avatar-1.jpg") }}" alt="avatar-1">
                            </div>
                            <div class="item">
                                <img src="{{ asset("uploads/avatar/avatar-2.jpg") }}" alt="avatar-2">
                            </div>
                        </div>
                    </div>
                </div>

                {# ----------------------- ---------- ------------------------ #}
                {# ----------------------- CARD - [2] ------------------------ #}
                {# ----------------------- ---------- ------------------------ #}

                <div class="card-2">
                    <div class="card-2-header">
                        <div class="title">Contact & RGPD</div>
                        <div class="subtitle">Subtitle</div>
                    </div>
                    <div class="card-2-body">
                        <span class="subject">Suject</span>
                        <p class="content">
                            People believe that carrying one of its discarded fangs will prevent mishaps 
                            at sea, so the fangs are made into accessories.
                            People believe that carrying one of its discarded fangs will prevent mishaps 
                            at sea, so the fangs are made into accessories.
                            People believe that carrying one of its discarded fangs will prevent mishaps 
                            at sea, so the fangs are made into accessories.
                            People believe that carrying one of its discarded fangs will prevent mishaps 
                            at sea, so the fangs are made into accessories.
                            People believe that carrying one of its discarded fangs will prevent mishaps 
                            at sea, so the fangs are made into accessories.
                        </p>
                    </div>
                    <div class="card-2-footer">
                        <div class="date">
                            <span class="icon-vision"></span>
                            <span>27 Sept 2020</span>
                        </div>
                        <div class="actions">
                            <div class="item">
                                <div class="btn-icon">
                                    <span class="icon-trash"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# ----------------------- SECTIONS ------------------------ #}
    </div>
{% endblock %}
