{% extends 'app/pages/gallery/template.html.twig' %}

{% set page_title %}Galerie de photos{% endset %}

{% block meta_description %}Je poste sur cette page quelques photos non libre de droit afin montrer mon travail en tant que photographe. Merci de faire une demande si vous souhaitez utiliser une ou des photos pour votre utilisation personnelle ou commercial.{% endblock %}
{% block meta_keywords %}photographe, marseille, photographe marseille, photographe mariage, photo mariage, photo portrait{% endblock %}

{% block main_content %}
    <div class="w-full px-2 lg:px-8">
        <div class="mb-8 grid grid-cols-4 gap-1 max-w-screen-lg mx-auto lg:gap-4">
            <img src="{{ asset('build/app/images/gallery/header/automne.jpg') }}" alt="automne femme" class="pointer-events-non w-full h-full" loading="lazy">
            <img src="{{ asset('build/app/images/gallery/header/sunset-portrait.jpg') }}" alt="fashion week" class="pointer-events-none w-full h-full" loading="lazy">
            <img src="{{ asset('build/app/images/gallery/header/automne-lac.jpg') }}" alt="lac automne" class="pointer-events-none w-full h-full" loading="lazy">
            <img src="{{ asset('build/app/images/gallery/header/fashion-week.jpg') }}" alt="fashion week" class="pointer-events-none w-full h-full" loading="lazy">
        </div>
        <div class="md:flex md:flex-col md:justify-center md:items-center">
            <div class="text-yellow-500 font-semibold mb-1 text-lg md:text-center">Quelques photos</div>
            <h1 class="font-bold text-4xl md:text-6xl md:text-center">Une exploration photographique</h1>
            <p class="mt-4 text-gray-600 max-w-screen-md md:text-center">
                Contactez-moi dès aujourd'hui pour discuter de votre projet et
                planifier une séance photo qui vous ressemble vraiment.
            </p>
            <p class="mt-4 text-gray-600 text-sm max-w-screen-md md:text-center">
                Les photos sur ce site internet ne sont pas libre de droit.
                <br>
                Cependant, vous pouvez vous rendre sur ma
                page <a href="https://unsplash.com/fr/@shanbora" target="_blank" rel="external" class="text-blue-500 underline hover:text-blue-700">Unsplash</a> qui
                contient des photos libres de droit.
            </p>
        </div>

        <div class="my-10 flex flex-col gap-16">
            <div class="bg-white p-4 border rounded-md md:p-8" data-aos="fade-in">
                <div class="mb-4">
                    <h2 class="font-semibold text-xl">Portraits</h2>
                    <p class="text-sm text-gray-600 max-w-screen-sm">
                        Vous cherchez à capturer des moments authentiques et uniques à travers un portrait ? En tant
                        que photographe, je m'engage à révéler votre personnalité avec des images
                        artistiques et personnalisées. Faites de votre portrait une œuvre qui vous ressemble.
                        Contactez-moi dès maintenant pour une séance sur mesure !
                    </p>
                    <div class="mt-2" data-aos="fade-in">
                        <a href="{{ path('app_contact') }}" class="group text-sm font-semibold leading-6 text-blue-500 ft-special">
                            Demander un shooting <span aria-hidden="true" class="inline-block transition-transform group-hover:translate-x-1">→</span>
                        </a>
                    </div>
                </div>
                <div class="flex flex-col gap-8 md:grid grid-cols-3">
                    <img src="{{ asset('build/app/images/gallery/portrait-1.jpg') }}" alt="photo portrait 1" class="pointer-events-none" loading="lazy">
                    <img src="{{ asset('build/app/images/gallery/portrait-2.jpg') }}" alt="photo portrait 2" class="pointer-events-none" loading="lazy">
                    <img src="{{ asset('build/app/images/gallery/portrait-3.jpg') }}" alt="photo portrait 3" class="pointer-events-none" loading="lazy">
                </div>
            </div>
            <div class="bg-white p-4 border rounded-md md:p-8" data-aos="fade-in">
                <div class="mb-4">
                    <h2 class="font-semibold text-xl">Mariages</h2>
                    <p class="text-sm text-gray-600 max-w-screen-sm">
                        Immortalisez chaque instant de votre journée spéciale avec des photos authentiques et
                        émouvantes. En tant que photographe de mariage, je capture vos plus beaux moments pour
                        que vous puissiez les revivre à jamais. Contactez-moi pour un reportage unique de votre mariage !
                    </p>
                    <div class="mt-2" data-aos="fade-in">
                        <a href="{{ path('app_contact') }}" class="group text-sm font-semibold leading-6 text-blue-500 ft-special">
                            Demander une prestation <span aria-hidden="true" class="inline-block transition-transform group-hover:translate-x-1">→</span>
                        </a>
                    </div>
                </div>
                <div class="flex flex-col gap-8 md:grid grid-cols-3">
                    <img src="{{ asset('build/app/images/gallery/mariage-1.jpg') }}" alt="photo mariage 1" class="pointer-events-none" loading="lazy">
                    <img src="{{ asset('build/app/images/gallery/mariage-2.jpg') }}" alt="photo mariage 2" class="pointer-events-none" loading="lazy">
                    <img src="{{ asset('build/app/images/gallery/mariage-3.jpg') }}" alt="photo mariage 3" class="pointer-events-none" loading="lazy">
                </div>
            </div>
            <div class="bg-white p-4 border rounded-md md:p-8" data-aos="fade-in">
                <div class="mb-4">
                    <h2 class="font-semibold text-xl">Évènementiels</h2>
                    <p class="text-sm text-gray-600 max-w-screen-sm">
                        Faites de votre événement un souvenir inoubliable grâce à une couverture photographique
                        professionnelle. Que ce soit une fête, un concert ou une conférence, je m’assure de
                        capturer l’essence de chaque instant. Parlons de vos besoins dès aujourd’hui !
                    </p>
                    <div class="mt-2" data-aos="fade-in">
                        <a href="{{ path('app_contact') }}" class="group text-sm font-semibold leading-6 text-blue-500 ft-special">
                            Demander une prestation <span aria-hidden="true" class="inline-block transition-transform group-hover:translate-x-1">→</span>
                        </a>
                    </div>
                </div>
                <div class="flex flex-col gap-8 md:grid grid-cols-3">
                    <img src="{{ asset('build/app/images/gallery/event-1.jpg') }}" alt="photo event 1" class="pointer-events-none" loading="lazy">
                    <img src="{{ asset('build/app/images/gallery/event-2.jpg') }}" alt="photo event 2" class="pointer-events-none" loading="lazy">
                    <img src="{{ asset('build/app/images/gallery/event-3.jpg') }}" alt="photo event 3" class="pointer-events-none" loading="lazy">
                </div>
            </div>
            <div class="bg-white p-4 border rounded-md md:p-8" data-aos="fade-in">
                <div class="mb-4">
                    <h2 class="font-semibold text-xl">Natures</h2>
                    <p class="text-sm text-gray-600 max-w-screen-sm">
                        Plongez dans la beauté de la nature à travers des clichés époustouflants. Spécialisé
                        dans la photographie de paysages et d'animaux, je capture la magie du monde qui nous
                        entoure. Contactez-moi pour des images qui vous transportent en plein cœur de la nature.
                    </p>
                    <div class="mt-2" data-aos="fade-in">
                        <a href="{{ path('app_contact') }}" class="group text-sm font-semibold leading-6 text-blue-500 ft-special">
                            Demander un projet <span aria-hidden="true" class="inline-block transition-transform group-hover:translate-x-1">→</span>
                        </a>
                    </div>
                </div>
                <div class="flex flex-col gap-8 md:grid grid-cols-3">
                    <img src="{{ asset('build/app/images/gallery/nuage-1.jpg') }}" alt="photo nuage 1" class="pointer-events-none" loading="lazy">
                    <img src="{{ asset('build/app/images/gallery/nuage-2.jpg') }}" alt="photo nuage 2" class="pointer-events-none" loading="lazy">
                    <img src="{{ asset('build/app/images/gallery/nuage-3.jpg') }}" alt="photo nuage 3" class="pointer-events-none" loading="lazy">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
