{% extends 'app/layout/layout.html.twig' %}

{% block title %}Chanbora Chhun photographe et développeur web fullstack à Marseille{% endblock %}

{% block meta_description %}
    Salut ! Je suis Chanbora Chhun, je suis un photographe sur Marseille et ses alentours.
    Les plus beaux moments de la vie méritent d'être capturés avec soin et passion. En tant que photographe spécialisé
    dans les portraits et les mariages, je m'engage à saisir la magie de chaque instant, pour que vous puissiez
    revivre ces souvenirs précieux à travers des images intemporelles.
{% endblock %}
{% block meta_keywords %}photographe, photographe marseille, photographe portrait, photographe mariage, portrait, mariage{% endblock %}

{% set main_class = "sm:min-h-[calc(100vh-100px-80px)]" %}

{% block main_content %}
    <div class="flex flex-col gap-24 mb-24">
        <div class="w-full px-2 lg:px-8 min-h-[calc(100vh-100px-80px)] mt-4">
            <div class="relative bg-gray-900 rounded-2xl py-24 sm:py-48 overflow-hidden min-h-[calc(100vh-100px-80px)]">
                <div class="absolute top-0 left-0 rounded-2xl w-full h-full">
                    <img src="{{ asset('build/app/images/homepage.jpg') }}" alt="background image" class="opacity-50 object-cover w-full h-full">
                </div>
                <div class="relative flex flex-col justify-between gap-12 lg:flex-row lg:justify-between">
                    <div class="px-4 lg:pl-12 xl:pl-24">
                        <div class="font-medium text-gray-400 mb-1">
                            Photographe
                        </div>
                        <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl lg:max-w-96">
                            Salut, je m'appelle Chanbora Chhun.
                        </h1>

                        <div class="mt-10 flex items-center gap-x-6">
                            <a href="#restons-en-contact" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                                🤝 Restons en contact !
                            </a>
                            <a href="#mon-travail" class="text-sm font-semibold leading-6 text-gray-200">💪 Mon travail <span aria-hidden="true">→</span></a>
                        </div>
                    </div>

                    <div class="px-4 lg:max-w-72 lg:pr-12 xl:pr-24">
                        <p class="mt-6 text-lg leading-8 text-gray-200">
                            Passionné par la créativité sous toutes ses formes, je capture des moments uniques
                            de la vie afin d'immortaliser la beauté et l’émotion dans chaque cliché.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full mb-12 lg:mb-32" id="mon-travail">
            <div class="text-center px-2 lg:px-8">
                <div class="text-yellow-500 font-semibold text-lg">Fragments du temps</div>
                <h2 class="font-bold text-6xl">La poésie des images</h2>
                <p class="mt-4 text-gray-600 max-w-md mx-auto">
                    En tant que photographe, je souhaite capturer l'essence de chaque moment, que ce soit pour des
                    portraits, des paysages ou des événements.
                </p>
            </div>

            <div class="homepage_gallery relative flex gap-4 mt-24">
                <img src="{{ asset('build/app/images/homepage/sunset-person-1.jpg') }}" alt="sunset person 1" class="pointer-events-none h-96">
                <img src="{{ asset('build/app/images/homepage/homme-sunset.jpg') }}" alt="homme sunset" class="pointer-events-none h-96 translate-y-10">
                <img src="{{ asset('build/app/images/homepage/photographe.jpg') }}" alt="homme photographe" class="pointer-events-none h-96 -translate-y-10">
                <img src="{{ asset('build/app/images/homepage/femme-2.jpg') }}" alt="femme 2" class="pointer-events-none h-96 translate-y-2">
                <img src="{{ asset('build/app/images/homepage/femme.jpg') }}" alt="femme" class="pointer-events-none h-96 translate-y-14">
                <img src="{{ asset('build/app/images/homepage/sunset-portrait-1.jpg') }}" alt="sunset portrait 1" class="pointer-events-none h-96">
                <img src="{{ asset('build/app/images/homepage/couple.jpg') }}" alt="couple" class="pointer-events-none h-96 -translate-y-16">
                <img src="{{ asset('build/app/images/homepage/femme-sunset.jpg') }}" alt="femme sunset" class="pointer-events-none h-96 translate-y-4">
                <img src="{{ asset('build/app/images/homepage/sunset-person-1.jpg') }}" alt="sunset person 1" class="pointer-events-none h-96">
                <img src="{{ asset('build/app/images/homepage/homme-sunset.jpg') }}" alt="homme sunset" class="pointer-events-none h-96 translate-y-10">
                <img src="{{ asset('build/app/images/homepage/photographe.jpg') }}" alt="homme photographe" class="pointer-events-none h-96 -translate-y-10">
                <img src="{{ asset('build/app/images/homepage/femme-2.jpg') }}" alt="femme 2" class="pointer-events-none h-96 translate-y-2">
                <img src="{{ asset('build/app/images/homepage/femme.jpg') }}" alt="femme" class="pointer-events-none h-96 translate-y-14">
                <img src="{{ asset('build/app/images/homepage/sunset-portrait-1.jpg') }}" alt="sunset portrait 1" class="pointer-events-none h-96">
                <img src="{{ asset('build/app/images/homepage/couple.jpg') }}" alt="couple" class="pointer-events-none h-96 -translate-y-16">
                <img src="{{ asset('build/app/images/homepage/femme-sunset.jpg') }}" alt="femme sunset" class="pointer-events-none h-96 translate-y-4">
            </div>
        </div>

        <div class="w-full px-2 lg:mb-12 lg:px-8 md:flex md:flex-col md:items-center lg:flex-row lg:gap-12 xl:items-start xl:gap-24">
            <div class="lg:pl-24 xl:translate-y-24">
                <div class="text-yellow-500 font-semibold text-lg">Instants figés</div>
                <h2 class="font-bold text-6xl max-w-96">Capturez vos moments les plus précieux</h2>
                <p class="mt-6 text-gray-600 max-w-md">
                    Chaque moment de la vie mérite d'être immortalisé, et je suis là pour transformer vos instants
                    précieux en souvenirs inoubliables. En tant que photographe passionné, je me spécialise dans
                    les portraits et les événements, capturant l'essence et l'émotion de chaque sourire,
                    chaque regard, et chaque détail qui fait de votre journée un moment unique.
                    <br>
                    <br>
                    Que ce soit pour des portraits intimes qui révèlent votre personnalité ou pour documenter chaque
                    instant de votre mariage, je m'engage à créer des images authentiques et intemporelles. Mon approche
                    est à la fois discrète et attentionnée, vous permettant de profiter pleinement de votre journée tout
                    en sachant que chaque instant est soigneusement capturé.
                </p>
                <div class="mt-6 lg:mt-10">
                    <a href="{{ path('app_gallery') }}" class="text-sm font-semibold leading-6 text-blue-500">Voir la galerie <span aria-hidden="true">→</span></a>
                </div>
            </div>

            <div class="relative mt-8 xl:max-w-[568px] xl:pl-24 flex gap-12">
                <img src="{{ asset('build/app/images/homepage/person.jpg') }}" alt="person femme" class="pointer-events-none">
                <img src="{{ asset('build/app/images/homepage/femme-sunrise.jpg') }}" alt="femme sunrise" class="pointer-events-none hidden 2xl:block">
                <img src="{{ asset('build/app/images/homepage/couple-sunset.jpg') }}" alt="couple sunset" class="pointer-events-none hidden 2xl:block">
            </div>
        </div>

        {% include "app/pages/contact/component/content.html.twig" %}
    </div>
{% endblock %}
